{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam accusantium deserunt eaque distinctio repellendus excepturi odio sapiente ad. Modi quia nam porro ex et voluptas incidunt commodi consequuntur, quam quibusdam. Doloribus cupiditate ullam quas officiis, natus consequatur nostrum quis veritatis. Fuga enim quibusdam natus? Maiores, suscipit in. Inventore esse corporis totam alias soluta voluptas quibusdam unde dolore nemo neque, nesciunt itaque nisi, laborum doloremque culpa accusamus id ut? Repellendus exercitationem, facere, adipisci consequuntur cupiditate placeat ullam ex expedita quaerat rerum, et voluptas. Sunt odio iure inventore, voluptatibus, libero harum perspiciatis eligendi sequi laboriosam deleniti, nostrum vero velit magni dignissimos!</p>
{% endblock %}